@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
.best {
  background-image: url("../img/bg/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title {
  font-family: 'Gagalin';
  color: #2f3234; }

.best__item-title {
  font-family: 'Lifehack'; }

.best__item-description {
  font-family: 'Ubuntu'; }

.best__item {
  display: inline-block; }

.best__list {
  display: inline-block; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.reviews__hover-name {
  font-size: 14px;
  letter-spacing: uppercase;
  color: #fff;
  font-family: 'Gagalin';
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 15px; }

.reviews__hover-text {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: light;
  color: #fff;
  margin-left: 10px;
  padding-bottom: 10px; }

.reviews__hover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: #2f3234;
  width: 110px;
  height: 35px;
  font-size: 13px;
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  padding-left: 15px; }

.header__menu {
  margin-right: 15px; }

.header__btn {
  padding-right: 80px; }

.btn {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-size: 13px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  background-color: #e35028;
  border-radius: 5px; }

.prime {
  background-image: url("../img/bg/hero_bg.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.prime__img {
  padding-bottom: 100px; }

.prime__description-text {
  font-family: 'Lifehack';
  color: #fff;
  font-size: 65px;
  width: 460px; }

.section__title {
  font-family: 'Gagalin';
  font-size: 72px;
  color: #f9b43b; }

.header__menu {
  margin-right: 15px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: inline-block; }
  .nav__item:after {
    content: '';
    background-color: #fff;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }
  .nav__item .nav__item-link {
    font-family: 'Ubuntu';
    font-weight: 500px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none; }
  .nav__item:hover {
    text-decoration: underline; }

.prime__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 150px; }

.prime__content-desc {
  padding: 20px;
  font-family: 'Gagalin';
  color: #000000;
  position: relative; }

.nav-sidebar {
  position: fixed;
  top: 80px;
  right: 45px; }

.nav-sidebar__item {
  margin-bottom: 10px; }
  .nav-sidebar__item.active .nav-sidebar__link {
    border-color: #fff; }

.nav-sidebar__link {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
  display: block; }
  .nav-sidebar__link:hover {
    border-color: #fff; }
  .nav-sidebar__link:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.contacts {
  background-image: url("../img/bg/contacts_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #eb8d38), to(#f9b43b));
  background: -webkit-linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
  background: -o-linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
  background: linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  overflow: hidden; }

.food_delivery {
  background-image: url("../img/bg/food_delivery_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  background-image: url("../img/bg/menu_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.menu__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__list {
  list-style: none; }

.menu__list-item {
  background-color: #c0c8cb;
  font-size: 40px;
  height: 100vh;
  width: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__list-item--diet {
    background: url("img"); }

.menu__list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gagalin";
  text-transform: uppercase;
  color: white;
  line-height: 1.601;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 400px; }
  .menu__list-item-link__menu__list-item-title {
    width: 300px; }
  .menu__list-item-link .menu__list-item--active__menu__list-item-link {
    color: #f9b43b; }
  .menu__list-item-link .menu__title {
    font-size: 71.713px;
    font-family: "Gagalin";
    color: white;
    line-height: 0.889; }

.team {
  background-image: url("../img/bg/team_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 50%;
  opacity: 0.929;
  background: #313436; }

.team__content-title {
  font-family: "Gagalin";
  font-size: 72px;
  color: #f9b43b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.acco-trigger {
  text-decoration: none;
  font-family: "Gagalin";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .acco-trigger:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;
    margin-right: 5px; }

.acco__item-activ .acco-trigger {
  color: #f9b43b; }

.acco__item-activ:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.acco__item-activ .acco__content {
  height: auto; }

.acco__content {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  width: 350px;
  margin-left: 15px; }

.acco__pic {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100px; }

.acco__desc {
  font-family: "ubuntu";
  color: #fff;
  margin-left: 20px; }

.acco__desc-title {
  font-family: "ubuntu";
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px; }

.acco__desc-text {
  font-family: "Ubuntu";
  font-weight: lighter; }

.wrapper {
  width: 100%;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

.container {
  margin: o auto;
  position: relative;
  width: 940px; }

.section {
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'Lifehack';
  src: url("..fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */