@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
.best {
  background-image: url("../img/bg/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title {
  font-family: 'Gagalin';
  color: #2f3234; }

.best__item-title {
  font-family: 'Lifehack'; }

.best__item-description {
  font-family: 'Ubuntu'; }

.best__item {
  display: inline-block; }

.best__list {
  display: inline-block; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  opacity: 0; }

header {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 14px; }

.header__logo {
  padding-left: 15px; }

.header__menu {
  margin-right: 15px; }

.header__btn {
  padding-right: 80px; }

.btn {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-size: 13px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  background-color: #e35028;
  border-radius: 5px; }

.prime {
  background-image: url("../img/bg/hero_bg.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.prime__img {
  padding-bottom: 100px; }

.prime__description-text {
  font-family: 'Lifehack';
  color: #fff;
  font-size: 65px;
  width: 460px; }

.section__title {
  font-family: 'Gagalin';
  font-size: 72px;
  color: #f9b43b; }

.header__menu {
  margin-right: 15px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: inline-block; }
  .nav__item:after {
    content: '';
    background-color: #fff;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }
  .nav__item .nav__item-link {
    font-family: 'Ubuntu';
    font-weight: 500px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none; }
  .nav__item:hover {
    text-decoration: underline; }

.prime__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 150px; }

.prime__content-desc {
  padding: 20px;
  font-family: 'Gagalin';
  color: #000000;
  position: relative; }

.nav-sidebar {
  position: fixed;
  top: 80px;
  right: 45px; }

.nav-sidebar__item {
  margin-bottom: 10px; }
  .nav-sidebar__item.active .nav-sidebar__link {
    border-color: #fff; }

.nav-sidebar__link {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
  display: block; }
  .nav-sidebar__link:hover {
    border-color: #fff; }
  .nav-sidebar__link:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.contacts {
  background-image: url("../img/bg/contacts_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #eb8d38), to(#f9b43b));
  background: -webkit-linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
  background: -o-linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
  background: linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  overflow: hidden; }

.food_delivery {
  background-image: url("../img/bg/food_delivery_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  background-image: url("../img/bg/menu_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.team {
  background-image: url("../img/bg/team_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.wrapper {
  width: 100%;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

.container {
  margin: o auto;
  position: relative;
  width: 940px; }

.section {
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'Lifehack';
  src: url("..fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */