.dark{
background: linear-gradient(#f9b43b, #eb8d38 50%, #f9b43b);
background-repeat: no-repeat;
background-size: cover;
background-position: center bottom;
display: -webkit-box;
display: -ms-flexbox;

overflow: hidden;
}