header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    padding-left: 80px;

}
.header__menu{

    padding: 10px;
}
.header__btn{
    padding-right: 80px;
    




}

.btn{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-size: 13px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    background-color: #e35028;
    border-radius: 5px;
  

    
}

.prime {
background-image: url('../img/bg/hero_bg.jpg');
background-position: 50%;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.prime__img{
padding-bottom: 100px;
}

.prime__description-text{
font-family: 'Lifehack';
color: #fff;
font-size:  65px;
width: 460px;


}

.section__title{
    font-family: 'Gagalin';
    font-size: 72px;
    color: #f9b43b;
}



.header__menu{
    margin-right:15px;
}
.nav{
    display: flex;
}

.nav__item{
display: inline-block;
&:after{
    content:'';
    background-color: #fff;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin:0 12px;
}
&:last-child:after{
    display: none;
}


.nav__item-link{
    font-family: 'Ubuntu';
    font-weight: 500px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
}
    &:hover{
        text-decoration: underline;
    }

}


.prime__content{
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-bottom: 150px;

}

.prime__description{
    padding: 20px;
    font-family: 'Gagalin';
    color: #000000;
    position: relative;

}
.nav-sidebar{
    position: fixed;
    flex:column;
    right: 0;
    overflow: hidden;
    width:100%;
}